---
import Layout from "@/layouts/Layout.astro";

import Hero from "@/sections/Hero.astro";
import LatestPosts from "@/sections/LatestPosts.astro";
import Projects from "@/sections/Projects.astro";
import Accolades from "@/sections/Accolades.astro";
import Contact from "@/sections/Contact.astro";
---

<Layout>
    <main class="flex flex-col gap-20">
        <Hero />
        <LatestPosts />
        <Projects />
        <Accolades />
        <Contact />
    </main>
</Layout>
